.table-top-row{
    padding: 12px
}
.table-top-row .add-user{
    float: left;
    padding: 8px;
}
.table-top-row .search{
    padding: 8px;
    float: right;
    margin: 0px 0px 10px 0px;
}

.table-mid-row{
    padding: 12px;
}
.table-mid-row > table{
    border: 2px solid grey;
    width: 100%;
}